body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
